<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

    <!--根据名称进行模糊查询-->
    <select id="xxx" parameterType="String" resultType="uSeR">
        select * from mybatis where username like #{username}
    </select>

    <!--删除操作-->
    <delete id="delete" parameterType="int">
        delete from mybatis where id=#{abc}
    </delete>

    <!--修改操作-->
    <update id="update" parameterType="user">
        update mybatis set username=#{username},password=#{password} where id=#{id}
    </update>

    <!--插入操作-->
    <insert id="save" parameterType="user">
        insert into mybatis values(#{id},#{username},#{password})
    </insert>

    <!--查询操作-->
    <select id="findAll" resultType="com.itheima.domain.User">
        select * from mybatis
    </select>

    <!--根据id进行查询-->
    <select id="findById" resultType="user" parameterType="int">
        select * from mybatis where id=#{id}
    </select>

</mapper>